{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SalsaFlow - {{.Title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Common CSS -->
    <link rel="stylesheet" type="text/css" href="{{.PathPrefix}}/assets/css/page.css">

    <!-- jQuery -->
    <script src="{{.PathPrefix}}/assets/js/jquery-2.1.4.js"></script>

    <!-- HideShowPassword -->
    <script src="{{.PathPrefix}}/assets/js/hideShowPassword.js"></script>

    <!-- Bootstrap -->
    <script src="{{.PathPrefix}}/assets/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="{{.PathPrefix}}/assets/bootstrap-3.3.4-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{.PathPrefix}}/assets/bootstrap-3.3.4-dist/css/bootstrap-theme.css">

  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{.PathPrefix}}/">SalsaFlow Admin</a>
        </div>
        {{if .User}}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-item" href="{{.PathPrefix}}/profile"><button class="btn btn-link">{{.User.Name}}</button></a></li>
            <li><a class="navbar-item" href="{{.LogoutURL}}"><button class="btn btn-default">Log Out</button></a></li>
          </ul>
        </div>
        {{end}}
      </div>
    </nav>

    <div class="container">
{{end}}
