{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <title>SalsaFlow - {{.Title}}</title>

    <!-- jQuery -->
    <script src="{{.PathPrefix}}/assets/js/jquery-2.1.4.js"></script>

    <!-- Bootstrap -->
    <script src="{{.PathPrefix}}/assets/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="{{.PathPrefix}}/assets/bootstrap-3.3.4-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{.PathPrefix}}/assets/bootstrap-3.3.4-dist/css/bootstrap-theme.css">
  
  </head>
{{end}}
