{{template "header" .}}

<h1>Personal Profile</h1>

<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{.User.Name}}</td>
    <td></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{.User.Email}}</td>
    <td></td>
  </tr>
  <tr>
    <td>API token:</td>
    <td id="token"></td>
    <td>
      <button id="showHideButton" class="btn btn-danger" onclick="toggleTokenVisibility()">Show</button>
      <button class="btn btn-primary" onclick="regenerateToken()">Regenerate</button>
    </td>
  </tr>
</table>

<script type="text/javascript">
  // Make the user object accessible to JS easily.
  var userId    = "{{.User.Id}}";
  var userName  = "{{.User.Name}}";
  var userEmail = "{{.User.Email}}";
  var userToken = "{{.User.Token}}";

  // Set the initial token text to dots.
  var tokenElem = $("#token");
  var tokenDots = "";
  for (var i = 0; i < userToken.length; i++) {
    tokenDots += "\u25CF";
  }

  var tokenVisible = false;
  function renderToken() {
    if (tokenVisible) {
      tokenElem.text(userToken);
    } else {
      tokenElem.text(tokenDots);
    }
  }

  renderToken();

  function toggleTokenVisibility() {
    var btn = $("#showHideButton");

    if (tokenVisible) {
      btn.text("Show");
      btn.removeClass("btn-success");
      btn.addClass("btn-danger");
    } else {
      btn.text("Hide");
      btn.removeClass("btn-danger");
      btn.addClass("btn-success");
    }

    tokenVisible = !tokenVisible;
    renderToken();
  }

  // Token regeneration.
  var loc = window.location;
  var apiURL = loc.protocol + "//" + loc.host + {{.PathPrefix}} + "/api/v1";

  function regenerateToken() {
    $.get(apiURL + "/users/" + userId + "/generateToken")
      .done(function(data) {
        userToken = data.token;
        renderToken();
      })
      .fail(function(err) {
        console.error(err)
      });
  }
</script>

{{template "footer" .}}
